body {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    max-width: auto;
    max-height: auto;
    border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
}



article {

    max-width: 25%;
    max-height: 60%;
    display: grid;
    grid-template-rows: 10% 50% 40%;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gainsboro;
}

figure {

    display: flex;
    grid-row: 2;
    justify-content: center;
}



.heading_1 {

    max-width: auto;
    max-height: auto;
    display: flex;
    grid-row: 1;
    background-color: grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heading_1 > p {

    font-size: 20px;
}



.author_01 {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: wrap;
   
}

.author_02 {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.author_03 {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.heading_2 {

    max-width: auto;
    max-height: auto;
    display: flex;
    grid-row: 1;
    background-color: grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heading_3 {

    max-width: auto;
    max-height: auto;
    display: flex;
    grid-row: 1;
    background-color: grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottomcard_01 {

    grid-row: 3;
    background: -webkit-linear-gradient(270deg, rgba(138,138,144,1) 0%, rgba(247,248,249,0) 100%);

 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
 display: flex;
flex-wrap: wrap;

}

.bottomcard_01 > span {

    align-self: center;
}


.bottomcard_02 {

    grid-row: 3;
    background: -webkit-linear-gradient(270deg, rgba(138,138,144,1) 0%, rgba(247,248,249,0) 100%);
display: flex;
flex-wrap: wrap;
}

.bottomcard_02 > span {

    align-self: center;
}

.bottomcard_03 {

    grid-row: 3;
    background: -webkit-linear-gradient(270deg, rgba(138,138,144,1) 0%, rgba(247,248,249,0) 100%);
    display: flex;
    flex-wrap: wrap;
}

.bottomcard_03 > span {

    align-self: center;
}

.circle_logo {

    background-color: aliceblue;
    border-radius: 20px;
    padding: 1.5rem;
}

.kitten_01 {

    max-width: 120%;
    max-height: 100%;
    align-self: center;
    
}

.kitten_02 {

    max-width: 100%;
    max-height: 100%;
}

.kitten_03 {

    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width:1000px) and (orientation:portrait) {

body {

    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
   
    
}

    .card01 {

    max-width: 45%;
    max-height: 50%;
}

.card02 {

    max-width: 45%;
    max-height: 50%;
}

.card03 {

    max-width: 45%;
    max-height: 50%;
    align-self: flex-end;
}
    
}

@media screen and (max-width:700px) {

    body {

        flex-direction: column;
        justify-content: space-around;
    }

    article {

        max-width: 40%;
        max-height: 40%;
    }

    .bottomcard_01 > p {

        font-size: 7px;
    }

    .bottomcard_02 > p {

        font-size: 7px;
    }

    .bottomcard_03 > p {

        font-size: 7px;
    }
    
}